/********** Base styles **********/
/* Note: only had 2 on first line 1 on second before adding box-sizing becuse the boarder made it bigger*/
/* Use boarder box to keep the box the absolute width*/
/* the * operater applys boarder-box to all elements */
*{
    box-sizing: border-box;
}

/* Changing the Body Background */
body {
    background-color: gray;
}

/* Style for h1 */
h1 {
    text-align: center;
    color: black;
    font-family: Stencil, Helvetica, sans-serif;
    font-size: 1.75em;
}

/* Adding Sytlye to paragraphs */
p {
    background-color: rgb(153, 13, 0);
    width: 90%;
    height: 150px;
    float: left;
}

/* Class for the Subtite in each box*/
.subtitle {
    font-family: Stencil, Helvetica, sans-serif;
    font-size: 1.25em;
    background-color: pink;
    border: 1px solid black;
    height: 2em;
    padding: .5em;
    margin: 0px;
    text-align: center;
    /* push it the the right side, auto with of the dev container*/
    float: right;
    width: 125px;
    /* Ensure it pushed the rest of the content down */
    clear: left;
}

#subtitle-1 {
    background-color: orange;
}

#subtitle-2 {
    background-color: pink;
}

#subtitle-3 {
    background-color: lightblue;
}

/* Adding style to specific ID for a paragrah */
.menu-box {
    text-align: left;
    /* TODO This is making maging for the text but is also making my subtitle have margin, we do not want that.*/
    margin: 10px;
    float: left;
    border: 1px solid black;
    background-color: rgb(153, 13, 0);
}

/* Adding style for content box*/
.content-box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    float:  left;
    border: 0px;
    margin-left: 15px;
    padding: 5px;
}

/* Simple Responsive Framework */
/* Row will take up all the width */
.row {
    background-color: rgb(153, 13, 0);
    width: 100%;
}
  
/********** Desktop Style (Item 7 992px and above) **********/
@media (min-width: 992px) {
    /* Style for all columns */
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
  
  /********** Tablet devices 768px to 991px **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }